
<header>
    <nav role="navigation"><ul>
    <li><a href="/">Home page</a></li>
    <li><a href="/mypage">My Page</a></li>
    <li><a href="/newpage">New Page</a></li>
    </ul></nav>
</header>
<h1>{{name1}}</h1>
<div class="wrap">
    
<div class="col-md-6">
<!--    
<p>{{username}}</p>

<form >
    <input type="text" name="usr"/>
    <input type="password" name="pswd"/>
    <button type="submit">Submit</button>

</form>

</button>
-->
<p></p>

<h2>{{name}}URL </h2>
<p>URL stands for <strong>Uniform Resource Locator</strong>. It contains serveral different parts, including:</p>

<ul>
    <li>the <strong>protoco</strong> e.g. http, https, ftp</li>
    <li>the <strong>host</strong>: e.g. <a href="//www.facebook.com">www.facebook.com</a>, <a href="//www.bbc.co.uk">www.bbc.co.uk</a></li>
    <li>the <strong>path</strong>: e.g. /news/local, /john.smith.95</li>
</ul>

</div>
<div class="col-md-6">
{{{dns}}}


</div>

</div>
<div class="col-md-12">
    <h2>Server-side vs. Client-side technologies</h2>

<h3>Client-side</h3> 

    <p>Client-side technologies run in your web browser (e.g Firefox, Google Chrome or Internet Explorer). The three main client-side technologies are:</p>
<ol>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
</ol>
<p>Here's a picture of a server:</p>
<img alt="Here's a picture of a server: &hellip;"
src="https://alssl.askleomedia.com/wp-content/uploads/2013/06/server_rack.jpg" />
</div>

<div class="col-md-12">
    <ul class="accordion">
    <li><input type="checkbox" name="trigger1" />
    <label class="trigger1" for="trigger">Content 1</label>
<div class="content1">Content 1</div></li>
    <li><input type="checkbox" name="trigger2" />
    <label class="trigger2" for="trigger">Content 2</label>
<div class="content1">Content 2</div></li>
   <li><input type="checkbox" name="trigger3" />

    <label class="trigger3" for="trigger">Content 3</label>
<div class="content1">Content 3</div></li>
    <li><input type="checkbox" name="trigger4" />

    <label class="trigger4" for="trigger">Content 4</label>
<div class="content1">Content 4</div></li>
</ul>
</div>
      <p id="output"></p>

<div>
 
   <button class="inputButton">0</button>
   <button class="inputButton">0</button>
   <button class="inputButton">0</button>
   <button id="multiplyButton">I will do the multiplication</button>
</div>
<!--
<hr/>
<h1>{{title}}</h1>
<h2>Hello</h2>
<p>Welcome to {{title}}</p>
<p>{{more}}</p>
<h3>{{conclusion}}</h3>
<div class="panel">
    <span>
        HTML content {{blockcontent}}
    </span>
    <ul>
        <li><a href="{{link1}}" target="{{target1}}">{{listitem1}}</a></li>
       <li>{{listitem2}}</li>
       <li>{{listitem3}}</li>
       <li>{{listitem4}}</li>
       <li>{{listitem5}}</li>
       <li>{{listitem6}}</li>
    </ul>

   <ol>
        <li>{{listitem1}}</li>
       <li>{{listitem2}}</li>
       <li>{{listitem3}}</li>
       <li>{{listitem4}}</li>
       <li>{{listitem5}}</li>
       <li>{{listitem6}}</li>
    </ol>
<p><img src="{{img}}" alt="{{alt}}" /></p>
</div> -->