<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome {{username}}</h1>
    <h2>Welcome {{name}}</h2>

    {{{navigation}}}


    {{{body}}}
    <script src="/script.js"></script>
  </body>
</html>